@use "global" as *;

.c-btn2 {
  background-color: $red;
  color: $white;
  min-width: rem(252);
  padding: rem(27);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(16);
  font-weight: bold;
  font-family: $font-en3;
  line-height: calc(19 / 16);
  border-radius: 3px;
  @include mq(md) {
    padding: rem(3) rem(25);
    min-width: rem(130);
  }
}