@use 'global' as *;

.p-concept___wrapper {
  @include mq('md') {
    display: flex;
    align-items: center;
  }
}
.p-concept__body {
  @include mq('md') {
    width: calc(857 / 1357 * 100%);
    position: relative;
    z-index: 1;
  }
}
.p-concept__title {
  font-size: rem(20);
  font-weight: bold;
  line-height: calc(29 / 20);
  letter-spacing: 0.15em;
  margin-top: rem(22);
  @include mq('md') {
    font-size: rem(36);
    line-height: calc(52 / 36);
  }
}
.p-concept__title span {
  display: inline-block;
  background-color: $white;
}
.p-concept__title span:nth-child(n + 2) {
  margin-top: rem(14);
  @include mq('md') {
    margin-top: rem(16);
  }
}
.p-concept__text {
  font-size: rem(16);
  font-weight: bold;
  margin-top: rem(35);
  line-height: calc(33 / 16);
  @include mq('md') {
    margin-top: rem(21);
  }
}
.p-concept__img {
  width: 100%;
  margin-top: rem(30);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  @include mq('md') {
    width: calc(679 / 1357 * 100%);
    margin-left: rem(-167);
    margin-right: auto;
    
  }
}
